:root {
    --color-primary: #0084FD;
    --color-primary-light: #B5DDFF;
    --color-secondary: #9792E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 50px;
}

header {
    background-color: var(--color-primary);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer {
    background-color: #333333;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.pad-x-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}

.center {
    justify-content: center;
}

.col-100 {
    flex-basis: 100%;
}

.nav-logo img{
    height: 100%;
    display: block;
}

.nav-menu svg {
    filter: invert();
}

.card {
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: var(--color-primary-light);
}

.card-secondary {
    background-color: var(--color-secondary);
}

.card-standard {
    background-color: white;
    color: var(--color-secondary);
}

